python-dotenv
langchain
langchain-community
pypdf
langchain-text-splitters
langchain-openai
chromadb
faiss-cpu 
langchain_chroma
langchain-google-genai
beautifulsoup4
langchain-classic
streamlit
langchain-groq
fastapi
uvicorn
langserve
sse_starlette